*.class

# package file
*.war
*.ear

# maven file
target/

# eclipse ignore
.settings/
.project
.classpath

# idea
.idea/
.mvn/
/idea/
*.ipr
*.iml
*.iws
# temp file
*.log
*.cache
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
